

/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #1e90ff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10px;
    margin: 20px;
}

h2 {
    color: #555;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #1e90ff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

/* Navbar Styles */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}
